extends layout
append head
  link(rel="stylesheet" href="/stylesheets/collections.css")

block content
    .navbarContainer
      +navbar
    .fullPageGrid
        .grid
            .grid__section
                each collectionName in collectionNames
                    .collection__section
                        h1= collectionName
                            .collection__images
                                each collection in collections
                                    if collection.name === collectionName
                                        img(src=collection.Comic.imageUrl)
            .grid__section

        .sidebar