extends layout
append head
  link(rel="stylesheet" href="/stylesheets/collections.css")

block content
    .navbarContainer
      +navbar
    .fullPageGrid
        .grid
            .grid__section
                form.custom-collection(action="/collections" method="POST")
                    fieldset
                        label(for="custom") Create your custom comic collection
                        input(type="text" name="custom" maxlength="25" required)
                        button(type="submit" value="Submit") Create
            .grid__section
                each collectionName in collectionNames
                    .collection__section
                        h1= collectionName
                            .collection__images
                                each collection in collections
                                    if collection.name === collectionName
                                        img(src=collection.Comic.imageUrl)
            .grid__section

        .sidebar