extends layout
append head
  link(rel="stylesheet" href="/stylesheets/comic.css")

block content
    .navbarContainer
      +navbar
    .fullPageGrid
        .grid
            .grid__section
                each collection in collections
                    p= collection.name
            .grid__section
                each collection in collections
                    ul
                        li= collection.Comic.title
        .sidebar