extends layout
append head
  link(rel="stylesheet" href="/stylesheets/comic.css")

block content
    .navbarContainer
      +navbar
    .fullPageGrid
        .grid
            .grid__section
                .collection__title
                    h2 Currently Reading
                .collection__title
                    h2 Currently Reading
                .collection__title
                    h2 Currently Reading
            //-     each collection in collections
            //-         p= collection.name
            //- .grid__section
            //-     each collection in collections
            //-         ul
            //-             li= collection.Comic.title
        .sidebar