include navbar.pug
include sidebar.pug
doctype html
html
  head
      block head
        title= "Comic Collections"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel="stylesheet" href="/stylesheets/sidebar.css")
        meta(name="description" content="Comic Collection")
        meta(name="title" property="og:title" content="Comic Collection")
        meta(property="og:type" content="Website")
        meta(name="image" property="og:image" content="https://live.staticflickr.com/65535/51162827207_acf9ba2ef6_b.jpg")
        meta(name="description" property="og:description" content="Comic Collection")
        meta(name="author" content="Dorn Holland, Kevin Pitzer, Leonardo Hernandez, Sam Hearst")
  body
    block content
