extends layout
append head

    link(rel="stylesheet" href="/stylesheets/index.css")

block content
    p Login page goes here
        form(action="/login", method="POST")
            div
                input(type="hidden" name="_csrf" value=csrfToken)
            div
                label(for="email") Email
                input(type="text", name="email", placeholder="Email")
            div
                label(for="password") Password
                input(type="password", name="password", placeholder="Password")
