mixin navbar
  div.navbar
    a(href="/") Comic-Collection
    div.site-nav
      a(href="/") Home
      a(href="") My Comics
      div.dropdown
        button.dropbtn Browse
        i(class="fa fa-caret-down")
        div.dropdown-content
          p FAVORITE GENRES
          a(href="") Fantasy
          a(href="") Fiction
          a(href="") Superhero
      div.dropdown
        button.dropbtn Community
        i(class="fa fa-caret-down")
        div.dropdown-content
          a(href="") Discussions
          a(href="") People
          a(href="") Ask the Author
    div(class="search-bar" id="search")
        form(action="/search" method="GET")
        input(type="search" placeholder="search comics" name="searchString")
          //- button(type="submit" class="search-btn")
    if locals.authenticated
      div.personal-nav
        div(class="dropdown" id="notify-div")
          button(class="dropbtn" id="notify-btn") 🔔 Notifications
          i(class="fa fa-caret-down")
          div.dropdown-content
            a(href="") No notifications
        a(href="") 💬 Chat
        a(href="") Messages
        a(href="") Friends
        div.dropdown
            img(src="https://s.gr-assets.com/assets/nophoto/user/u_60x60-267f0ca0ea48fd3acfd44b95afa64f01.png")
            form(action="users/logout" method="POST")
              div.dropdown-content
                button(class="sign-out-btn" type="submit") Sign out
    else
      //- a(href="/signup") Sign Up
      //- a(href="/login") Log In
      div.dropdown
        button.dropbtn Start
          i(class="fa fa-caret-down")
          div.dropdown-content
            div(class="demo_user")
              form(action="users/demo" method="POST")
                input(type="submit" value="Demo User")
            a(href="/signup") Sign Up
            a(href="/login") Log In
