mixin navbar
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Londrina+Solid&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&family=Londrina+Solid&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  div.navbar
    div.navbar__logo
      a(href="/")
        div.logo__1 COMIC
        div.logo__2 Collection
    div.site__nav-btns
      .nav__child.nav__home.active
        a(href="/") Home
      div(class="nav__child nav__collections" id="collection__btn")
        if locals.authenticated
          a(href=`/collections`) My Collections
        else
          a(href="/login") My Collections
      //- div.dropdown.nav__child
      //-   button.dropbtn Browse
      //-     i(class="fa fa-caret-down")
      //-   div.dropdown-content
      //-     p FAVORITE GENRES
      //-     a(href="") Fantasy
      //-     a(href="") Fiction
      //-     a(href="") Superhero
      //- div.dropdown.nav__child
      //-   button.dropbtn Community
      //-   div.dropdown-content
      //-     a(href="") Discussions
      //-     a(href="") People
      //-     a(href="") Ask the Author
    div(class="search-bar" id="search")
      div(class="search-input")
          input.search-bar__text(type="text" placeholder="search comics" name="searchBar" id="searchBar")
          //- button.search-bar__submit(type="submit")
          //-   ion-icon(name="search-outline")
          //- button(type="submit" class="search-btn")
          div.autocom-box
            ul(id="comicsList")
    if locals.authenticated
      div.personal-nav
        div(class="dropdown" id="notify-div")
          //button(class="dropbtn" id="notify-btn") 🔔 Members
          button(class="dropbtn" id="notify-btn") Meet the team:
          div.dropdown-content.dev_info
            .info_person
              p Dorn Holland
              a(href="https://github.com/dornkholland") <i class="fa fa-github"></i>
              a(href="https://www.linkedin.com/in/dorn-holland-0a22b6173/") <i class="fa fa-linkedin"></i>
            .info_person
              p Kevin Pitzer
              a(href="https://github.com/KevKodes") <i class="fa fa-github"></i>
              a(href="https://www.linkedin.com/in/kevin-pitzer/") <i class="fa fa-linkedin"></i>
            .info_person
              p Leonardo Hernandez
              a(href="https://github.com/leoworkcp") <i class="fa fa-github"></i>
              a(href="https://www.linkedin.com/in/leorem/") <i class="fa fa-linkedin"></i>
            .info_person
              p Sam Hearst
              a(href="https://github.com/sam-hearst") <i class="fa fa-github"></i>
              a(href="https://www.linkedin.com/in/austin-hearst-551380147/") <i class="fa fa-linkedin"></i>
        //- a(href="") 💬 Chat
        //- a(href="") Messages
        //- a(href="") Friends
        div.dropdown
          img(src="https://s.gr-assets.com/assets/nophoto/user/u_60x60-267f0ca0ea48fd3acfd44b95afa64f01.png" id="user__pic-profile")
          div.dropdown-content.dropdown-content__logins
            p=` ${user.firstName} ${user.lastName} `
            form(action="/users/logout" method="POST")
              input(class="sign-out-btn" type="submit" value="Log Out" placeholder="Log Out")
    else
        div.dropdown.dropdown__start
          button.dropbtn.button__start Start
          div.dropdown-content
            a(href="/signup") Sign Up
            a(href="/login") Log In
        div(class="demo__user-btn")
          form(action="/users/demo" method="POST")
            input(type="submit" value="Demo User" class="input__demo-user")
script(src="/javascripts/search.js" type="module" defer)
  //- <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
