html {
  background-color: rgba(8, 15, 31, 1);
}

body {
  font-family: sans-serif;
  background-color: rgba(8, 15, 31, 1);
  color: #9ba8c7;
  background: linear-gradient(110deg, rgba(8, 15, 31, 1) 60%, rgba(12, 31, 74, 1) 60%);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
}

.fullPageGrid {
  position: relative;
  top: 200px;
  padding: 0px 60px;
}











/* Add collection form */


.custom-collection {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 500px 1fr;
  grid-template-areas: 
  "header header"
  "text button"
  ;
  padding: 40px;
}

.grid__section-form label {
  grid-area: header;
  font-size: 35px;
  border-bottom: 2px solid rgba(186,210,255,.08);
}
.grid__section-form input {
  width: 90%;
  grid-area: text;
  margin: 20px 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 30px;
  justify-self: end;
} .grid__section-form button { width: 100px;
  grid-area: button;
  transition: all 0.3s ease-in-out 0s;
  background-color: rgba( 13, 26, 54, .7);
  border: 2px solid rgba(66, 78, 111, .5);
  border-radius: 5%;
  color: white;
}

.grid__section-form button:hover {
  border: 2px solid rgba(66, 78, 111, 1);
  background-color: rgba(39,54,87,.44);
}





/* Collection display */

.collection__section {
    display: block;
  border-left: 2px solid rgba(186,210,255,.08);
  border-top: 2px solid rgba(186,210,255,.08);
  padding: 50px;
  transition: all 0.3s ease-in-out 0s;
}
.collection__section:hover  {
  background-color: rgba(39,54,87,.1);
}

.collection__section:hover .collection__title {
  color: white;
}

.collection__item__header {
  display: flex;
  justify-content: space-between;
}

.collection__title {
  font-size: 40px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out 0s;
}

.collection__tools button {
  transition: all 0.3s ease-in-out 0s;
  width: auto;
  height: 55px;
  margin: 0px 10px;
  background-color: rgba( 13, 26, 54, .7);
  align-self: center;
  border: 2px solid rgba(66, 78, 111, .5);
  border-radius: 5%;
  color: white;
}

.collection__tools button:hover {
  border: 2px solid rgba(66, 78, 111, .5); 
  background-color: rgba(39,54,87,.44);
}

.collection__tools {
  display: flex;
  justify-content: flex-end;
}

.collection__images {
    display: flex;
    flex-wrap: wrap;
}

.collection__images img {
    height: 350px;
}

.collection__images img:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.grid__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(67, 83, 112, 0);
  padding: 20px;
  margin: 20px 30px;
}

.grid__image-container:hover {
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.678);
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid rgba(67, 83, 112, .2);
  transform: translateY(-0.25rem);
}

.grid__image-container a {
  text-decoration: none;
  font-family: inherit;
  color: white;
  margin: 5px;
}
