html {
  background-color: rgba(8, 15, 31, 1);
}

body {
  font-family: sans-serif;
  background-color: rgba(8, 15, 31, 1);
  color: #9ba8c7;
  background: linear-gradient(110deg, rgba(8, 15, 31, 1) 60%, rgba(12, 31, 74, 1) 60%);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
}

.fullPageGrid {
  position: relative;
  top: 100px;
}











/* Add collection form */


.custom-collection {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 500px 1fr;
  grid-template-areas: 
  "header header"
  "text button"
  ;
  padding: 30px;

}

.grid__section-form label {
  grid-area: header;
  font-size: 25px;
}
.grid__section-form input {
  width: 100%;
  grid-area: text;
  margin: 20px 0;
}
.grid__section-form button {
  width: 100px;
  grid-area: button;
}







/* Collection display */

.collection__section {
    display: block;
}

.collection__images {
    display: flex;
    flex-wrap: wrap;
    min-height: 350px;
}

.collection__images img {
    padding: 20px;
    height: 350px;
}

.collection__images img:hover {
  cursor: pointer;
  transform: translateY(-0.50rem);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.grid__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid__image-container:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.678);
  box-sizing: border-box;
  background-color: transparent;
  border-right: 2px solid rgba(67, 83, 112, 0.2);
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(67, 83, 112, 0.2);
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(67, 83, 112, 0.2);
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(67, 83, 112, 0.2);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
