/* navigation */
.navbarContainer {
    width: 100%;
    height: 100px;
    border: 1px solid red;
    position: fixed;
}

/* body */
.fullPageGrid {
    min-width: 1000;
    display: grid;
    position: relative;
    top: 100px;
    max-width: 1650px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid red;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "sidebar content"
}
.grid {
    display: grid;
    width: 100%;
    height: 1000px;
    border: 1px solid blue;
    grid-area: content;
    grid-template-rows: 650px 100px 1fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
    "image details"
    "readStatus nothing"
    "reviews reviews"
}
.sidebar {
    grid-area: sidebar;
    border: 1px solid red;
}

.section__image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.section__readStatus {
    grid-area: readStatus;
    position: relative;
}

.image__actual {
    padding: 35px 10px 10px 10px;

}

.section__details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.section__details h1 {
    padding: 30px 10px 10px 10px;
    font-size: 4em;
}

.section__reviews {
    grid-area: reviews;
}

.shelfButton:hover .shelf-content{
    display: block;
}

.shelf-content {
    display: none;
}
.shelf-content a {
    display: block;
    text-decoration: none;
    color: black;
}
.shelf-content a:hover {
    background-color: purple;
}
.shelfButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.infoRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: auto;
}

#description {
    padding: 20px;
}


.infoElement {

}

::-webkit-scrollbar {
width: 0px; /* Remove scrollbar space */
background: transparent; /* Optional: just make scrollbar invisible */
} 
