@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap");
/* body */
/* Content Grid */
body{
  background-color: rgba(8,15,31,1);
}
.sidebar * {
  font-family: "Exo", sans-serif;
}

textarea {
	width: 600px;
	height: 200px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
  margin: 10px;
}

.hidden {
  display: none;
}
.backgroundImage {
  top: 100px;
  position: absolute;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}
.backgroundImage img {
  width: 100%;
  height: auto;
}

p, 
h1,
h2,
div {
  color: white;
}
.fullPageGrid {
    background-image: linear-gradient(to bottom, rgba(8,15,31,0.75), rgba(8, 15, 31, .9) 400px, rgba(8, 15, 31, 1) 1000px);
    min-height: 100%;
    display: grid;
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 100%;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 350px 50px 5fr;
    grid-template-areas: 
    "nothing nothing nothing"
    "sidebar break content";
    padding-left: 30px;
}
.grid {
    background-color: none;
    border-radius: 1%;
    display: grid;
    width: 100%;
    grid-area: content;
    grid-template-rows: 800px 100px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "image details"
    "readStatus blank"
    "reviews reviews";
    padding: 30px;
}
.sidebar {
    grid-area: sidebar;
    border-top: 2px solid rgba(186,210,255,.08);
    border-right: 2px solid rgba(186,210,255,.08);
    background-color: rgba(8, 15, 31, .3) ;
}




.section__readStatus {
    grid-area: readStatus;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* review section of grid */

.section__reviews {
    margin-top: 40px;
    grid-area: reviews;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgba(186,210,255,.08);
    border-bottom: 2px solid rgba(186,210,255,.08);
}
.reviews__title {
  display: flex;
  align-items: center;
}
.reviews__title > h1 {
  font-size: 3.5rem;
}

.reviews__title__element {
  margin: 15px;
}
.reviews__add {
  height: auto;
  width: auto;
}

.reviews__container {
  display: flex;
  flex-direction: column;
}
.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 25px;
}
.section__reviews button {
  transition: all 0.3s ease-in-out 0s;
  width: 25%;
  height: 65px;
  margin: 30px auto;
  background-color: rgba( 13, 26, 54, .7);
  align-self: center;
  border: 2px solid rgba(66, 78, 111, .5);
  border-radius: 5%;
  color: white;
}

.section__reviews button:hover {
  border: 2px solid rgba(66, 78, 111, .5); 
  background-color: rgba(39,54,87,.44);
}
.review__tools {
  display: flex;
  justify-content: flex-end;
}

.review__tools button {
  margin: 0px 10px;
  width: auto;
  height: 55px;
}

.reviewTool {
  width: 80px;
  margin: 30px
}

.review-form label {
  font-size: 20px;
  margin: 30px;
  color:  #859fda;
}



.review-form textarea {
	width: 1000px;
	height: 200px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.review{ 
  border-top: 2px solid rgba(186,210,255,.08);
  border-bottom: 2px solid rgba(186,210,255,.08);
  padding: 50px 50px;

}
.review__info__name {
   color: #859fda;
   font-size: 1.45em;
   font-weight: 500;
}

.description__text {
  font-size: 18px;
  font-family: "Exo", sans-serif;
  line-height: 30px;
  padding: 10px;
  font-weight: 300;
}

/* image section of grid */

.image__actual {
    padding: 35px 10px 10px 10px;
    height: 100%;

}

.section__image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/* Section Details of grid */

.section__details {
    padding: 30px 10px 0px 0px;
    grid-area: details;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgba(186,210,255,.08);
}
.details__element {
  padding: 0px 30px;
}

.details__title{ 
  grid-area: title;
  font-size: 90px;
  padding: 10px 30px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.details__author {
  font-size: 2em;
  color: grey;
  padding: 0px 60px;
}

.details__infoRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-top: auto;
    padding: 30px 20px;
    border-top: 2px solid rgba(186,210,255,.08);
    border-bottom: 2px solid rgba(186,210,255,.08);
}
.infoElement .label {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10px;
  color: #9ba8c7;
}

.infoElement .info {
  color: #9ba8c7
}

.details__description {
  margin: 50px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #9ba8c7;
}



::-webkit-scrollbar {
width: 0px; /* Remove scrollbar space */
background: transparent; /* Optional: just make scrollbar invisible */
} 


/* Add to bookshelf button  */

.shelfButton:hover .shelf-content { 
  display: flex;
  flex-direction: column;
  position:absolute;
  height: auto;
  width: 200px;
  background-color:rgba(8,15,31,1);
}
.shelfButton:hover {
  background-color: rgba(39,54,87,.22);
}

.shelf-content {
    display: none;
}
.shelf-content p {
  align-self: center;
  font-size: 24px;
  font-weight: 600;
  padding: 0px 20px;
}


.shelfButton,
.addButton {
  transition: all 0.3s ease-in-out 0s;
  width: 25%;
  height: 65px;
  margin: auto;
  background-color: none;
  border: 2px solid #424e6f;
  border-radius: 5%;
  cursor: pointer;
  align-self: center;
}

.addButton {
  position: relative;
}

.shelfButton__text,
.addButton__text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  height: 100%;
  font-weight: 700;
}
.collectionButton {
  margin: 0;
  background-color: inherit;
  color: white;
  transition: all 0.3s ease-in-out 0s;
  border: 2px solid rgba(66, 78, 111, 0);
}



.collectionButton:hover {
  border: 2px solid rgba(66, 78, 111, .3);
  background-color: rgba(39,54,87,.22);
}

.collectionButton--active {
  background-color: rgba(39,54,87,.4);
  border: 1px solid rgba(39,54,87,.7);
}

.customForm {
  margin: 0;
  position: absolute;
  background-color: red;
  /*background-color: rgba(8,15,31,1);*/
  height: auto;
  display: grid;
  grid-template-columns: 500px 150px;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
  "header header"
  "input submit";
  justify-items: center;
  align-items: center;
  padding: 0px 5px 10px 5px;
}

.customForm--active {
  position: absolute;
  background-color: red;
  top: 100px;
  border-radius: 5px;
  border: 2px solid rgba(66, 78, 111, .5);
  background-color: rgba(8,15,31,.95);
}
.customForm--hidden {
  display: none;
}
.customForm label {
  grid-area: header;
  font-family: 'exo', sans-serif; 
  font-size: 30px;
}

.customForm input {
  grid-area: input;
  width: 80%;
  justify-self: end;
  margin-right: 30px;
}

.customForm button {
  grid-area: submit;
  margin: 0;
  justify-self: start;
  background-color: transparent;
  border: 2px solid rgba(66, 78, 111, .5);
  border-radius: 5%;
  color: white;
}
.response {
  font-family: exo;
  font-size: 25px;
  position: absolute;
  width: 600px;
}

.customForm button:hover {
  background-color: rgba(39,54,87,.22);
}

.error {
  color: red;
}
