.grid {
  display: grid;
  width: 97%;
  height: 600px;
  /* border: 1px solid red; */
  grid-template-rows: 1fr;
  grid-template-columns: 1.2fr 4fr;
  grid-template-areas: "sidebar content";
  padding-left: 20px;
}

/* .grid__section {
  border: 1px solid purple;
} */

/* .grid__section.img-1 {
  background-image: url();
} */

.sidebar {
  grid-area: sidebar;
  background-color: wheat;
  opacity: 90%;
}

.content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid__image {
  width: 200px;
  height: 300px;
  margin: 10px;
}

.grid__image-title,
.grid__image-publisher {
  display: block;
  margin: 4px;
  padding-left: 13px;
}

.grid__image--active:hover {
  cursor: pointer;
  transform: translateY(-0.25rem);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.grid-title {
  font-size: medium;
  margin-top: auto;
  padding-left: 100px;
  padding-bottom: 60px;
  font-size: 2em;
  color: blue;
}
