@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap");
/* make space for navbar */
.homeContent {
  position: relative;
  top: 100px;
}

/* grid layout for home page */
.grid {
  display: grid;
  width: 97%;
  height: 600px;
  /* border: 1px solid red; */
  grid-template-rows: 1fr;
  grid-template-columns: 350px 4fr;
  grid-template-areas: "sidebar content";
  padding-left: 20px;
}

.grid__section {
  padding-left: 65px;
  margin-right: 20px;
}

.sidebar {
  grid-area: sidebar;
  /* sidebar borders */
  background-color: transparent;
  border-right: 2px solid rgba(67, 83, 112, 0.2);
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(67, 83, 112, 0.2);
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(67, 83, 112, 0.2);
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(67, 83, 112, 0.2);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
}


.content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.grid__image {
    width: 200px;
    height: 300px;
    margin: 10px;
  /* padding-left: 5px; */
}

.grid__image-title,
.grid__image-publisher {
  display: block;
  margin: 4px;
  padding-left: 13px;
}

.grid__image-title {
  color: #fff;
}
.grid__image-title:link {
  text-decoration: none;
  /* color: #9ba8c700; */
}

/* .grid__image--active:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} */

.grid__title-text {
  font-size: medium;
  margin-top: auto;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2em;
  color: #fff;
  font-family: "Exo", sans-serif;
}

body {
  font-family: sans-serif;
  background-color: rgba(8, 15, 31, 1);
  color: #9ba8c7;
}

/* space between div and establishing size of image container */
#div__container {
  margin-bottom: 10px;
  margin-right: 1px;
  width: 220px;
}

#div__container:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.678);
  box-sizing: border-box;
  background-color: transparent;
  border-right: 2px solid rgba(67, 83, 112, 0.2);
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(67, 83, 112, 0.2);
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(67, 83, 112, 0.2);
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(67, 83, 112, 0.2);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
