@charset "UTF-8";

/* Navigation */

/* body {
  padding: 0px;
} */

.navbar {
  position: fixed;
  z-index: 1;
  height: 100px;
  background-color: rgb(17, 26, 48);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 25px;
  padding: 0px 50px 0px 10px;
}

.navbar a {
  /* float: left; */
  font-size: 16px;
  color: #d5dced;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Logo button/ animation */
.navbar__logo {
  background-color: transparent;
  border-radius: 35% 10%;
  width: 150px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.navbar__logo:hover {
  transform: rotate(-10deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: rgba(8, 15, 31, 1);
}
.logo__1 {
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  padding: 5px;
}
.logo__2 {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  padding: 5px;
}

/* navbar div of home and collection */
.site__nav-btns {
  width: 300px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  padding: 0;
  border-radius: 10px;
  height: 100%;
  margin: 0;
  align-items: center;
}
.site_-nav-btns a {
  background-color: transparent;
}

/* the a inside home and collection btns */

.nav__child a {
  height: 100%;
  width: 100%;
  display: flex;
}

/* HOME and Collection Btn */
.nav__child {
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
}

.nav__child:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: rgba(8, 15, 31, 1);
}

/* Collection  BOTTON */
#collection__btn {
  margin-right: auto;
}

/* ------------------------------------- */
.site__nav-btns a {
  border: 1px solid rgba(219, 216, 210, 0);
  transition: all 0.3s ease-in-out 0s;
  font-size: 20px;
  font-weight: 1em;
}

/* dropdown menu 2nd take */

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #d5dced;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  /* margin-right: 100px; */
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  height: 100%;
  font-weight: 700;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(28, 40, 68);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  margin-top: 145px;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #d5dced;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-right: 2px solid rgba(67, 83, 112, 0.2);
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(67, 83, 112, 0.2);
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(67, 83, 112, 0.2);
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(67, 83, 112, 0.2);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(8, 15, 31, 1);
}

/* html reference */
/* <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> */

/* for the navbar */
/* color for the text of navBar bottoms */
/* color: #d5dced; */
/* background-color: transparent; */
/* for the icons */
/* color: #8fa0ca; */

/* ------------------------ */

/* need to finish the stying of the notification and demo user */

.personal-nav {
  padding-bottom: 20px;
  background-color: transparent;
  /* width: 60px; */
  display: flex;
  flex-direction: row;
  color: #d5dced;
}

/* notify div */
#notify-div {
  width: 120px;
  margin-right: 120px;
}

/* notify button */
/* #notify-btn {
  padding-bottom: 20px;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  color: #d5dced;
} */

#user__pic-profile {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 10px;
  height: 55px;
  width: 55px;
}

/* ------------------------ */

/* search bar  */
.search-input {
  background-color: transparent;
  color: #8fa0ca;
  background-color: rgb(28, 40, 68);
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

.search-input:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: rgba(8, 15, 31, 1);
}

.search-input::after {
  content: "🔎";
  position: absolute;
  height: 50px;
  width: 55px;
  line-height: 55px;
  top: 0;
  right: -12px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

#searchBar {
  position: relative;
}

.search-bar {
  min-width: 450px;
  /* max-width: 650px; */
  margin: 150px auto;
  margin-left: 10px;
}

.search-bar .search-input {
  position: relative;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0 0, 0.12);
}

.search-input input {
  height: 55px;

  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .autocom-box {
  /* padding: 10px 8px; */
  max-height: 280px;
  overflow-y: scroll;
  /* opacity: 0; */
  /* pointer-events: none; */
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  /* display: none; */
}
.autocom-box li:hover {
  background: #efefef;
}

.autocom-box {
  top: 100px;
  position: absolute;
  background-color: white;
}
.dropdown-content__logins {
  width: 200px;
  min-width: 0px;
}
.dropdown-content__logins input{
  width: 200px;
}
.input__demo-user {
  width: 100px;
}

/* search bar display text*/
#searchText {
  display: flex;
  color: black;
}

::marker {
  color: #f4f1ea;
}

/* ul id for comic search LI */

#comicsList {
  background-color: #efefef;
  width: 450px;
  border-radius: 3px;
  position: fixed;
  overflow-y: scroll;
}

/* media queries */

@media screen and (max-width: 910px) {
  .search-bar#search > input {
    display: none;
  }
}

@media screen and (max-width: 1099px) {
  .personal-nav > a {
    display: none;
  }
}
@media screen and (max-width: 810px) {
  #notify-div > #notify-btn {
    display: none;
  }
}

/* @media screen and (max-width: 1560px) {
  .dropbtn {

} */

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
  .navbar {
    width: 100%;
  }
}
/* Small Tablets */
@media (min-width: 321px) and (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 320px) {
  .navbar {
    width: 100%;
  }
}
