/* Navigation */

body {
  padding: 0px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #382110;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar {
  position: fixed;
  z-index: 1;
  height: 100px;
  background-color: #f4f1ea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  color: #382110;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 25px;
}

.navbar__logo {
  background-color: #e6e1d8;
  border-radius: 35% 10%;
  width: 150px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.navbar__logo:hover {
  transform: rotate(-10deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #d1ccc0;
}
.logo__1 {
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  padding: 5px;
}
.logo__2 {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  padding: 5px;
}

/* site-nav part of nav bar */

.site-nav {
  width: 600px;
  background-color: rgba(219, 216, 210, 0.2);
  display: flex;
  justify-content: space-around;
  padding: 0;
  border-radius: 10px;
  height: 100%;
  margin: 0;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(219, 216, 210, 0.3);
}
.site-nav:hover {
  background-color: rgba(219, 216, 210, 0.4);
  border: 1px solid rgba(219, 216, 210, 0.7);
}

.nav__child {
  height: 100%;
  width: 100%;
}
.nav__child__dropdown {
  margin: auto;
}

.nav__collections,
.nav__home {
  display: flex;
}
.nav__child a {
  line-height: 1.35em;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__child .dropbtn,
.nav__child a {
  height: 100%;
  width: 100%;
}

.search-bar {
  display: flex;
}

#search {
  border-radius: 3px;
  border: 1px solid #eaeaea;
}

/* .search-btn {
  display: inline-block;
  left: 175px;
  position: relative;
  bottom: 48.5px;
} */

#search::after {
  content: "🔎";
  position: absolute;
  padding-left: 270px;
  padding-top: 10px;
}

/* .search-bar:last-child {
  justify-content: flex-end;
} */

.dropdown {
  float: left;
  overflow: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #382110;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.site-nav a,
.dropdown .dropbtn {
  border: 1px solid rgba(219, 216, 210, 0);
  transition: all 0.3s ease-in-out 0s;
  font-size: 20px;
  font-weight: 1em;
}

.site-nav a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(219, 216, 210, 0.7);
  border: 1px solid rgba(219, 216, 210, 0.7);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: visible;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out 0s;
}

.dropdown-content a:hover {
  background-color: rgba(219, 216, 210, 0.7);
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* search bar */
.search-bar {
  display: flex;
}
.search-bar__submit {
  margin: 0;
  height: 100%;
}
.search-bar__text {
  height: 100%;
  margin: 0;
}

/*
.search-bar {
  box-sizing: inherit;
  display: inline-block;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 100px;
}

.search-bar form {
  width: 100%;
  margin-bottom: 0em;
  display: block;
  margin-top: 0em;
}

.search-bar input {
  border-right: 3px;
  height: 32px;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 4px 26px 4px 8px;
  width: 100%;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
}

.search-bar button {
  background-image: url(https://s.gr-assets.com/assets/layout/header/icn_nav_search.svg);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  display: inline-block;
}
*/
.sign-out-btn {
  font-size: small;
}

@media screen and (max-width: 910px) {
  .search-bar#search > input {
    display: none;
  }
}

@media screen and (max-width: 1099px) {
  .personal-nav > a {
    display: none;
  }
}
@media screen and (max-width: 810px) {
  #notify-div > #notify-btn {
    display: none;
  }
}
