/*
- Colors:
- Buttons:
- Text:
- Header:
- Footer:
- Anchor tags:
*/

button {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f1ea;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 3px;
  border: 1px solid #d6d0c4;
}

a {
  color: #00b7ff;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4f1ea;
}

button {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f1ea;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 3px;
  border: 1px solid #d6d0c4;
  margin: 20px 10px;
}

a {
  color: #00635d;
}

label {
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

input {
  width: 300px;
  padding: 10px 4px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset {
  border: none;
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
}
