.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 30%;
  height: 100%;
  color: #f8f2f2;
  justify-content: flex-start;
  display: flex;
  margin: 0em;
  padding: 4px;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 25px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  background-color: #bfbbb0;
}



.sidebar__collections {
    font-size: 2rem;
}


.sidebar__collections a {
    text-decoration: none;
    color: rgb(97, 93, 93);
}



.sidebar__collections a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidebar__collections img {
    height: 100px;
    width: 80px;
    margin: 15px;
}


.sidebar__img-container {
    display: flex;
    flex-direction: row;
}


.sidebar__img-container img:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.sidebar__collections-title {
    font-size: 25px;
}

.sidebar__collection {
    margin-top: 10px;
    margin-bottom: 10px;
}
